@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--COLOR-GRAY: #333333;
	--COLOR-GRAY-DARK: #222222;
	--COLOR-GRAY-LIGHT: #cccccc;
	--COLOR-ONGOING: #98c1d9;
	--COLOR-DONE: #EEC4D;
}
